<div class="content" id="content">
    <form action="http://localhost:8000/comment/<%= id %>  " method="POST">
        <div class="form-group">
            <label for="comment">Comment</label>
        </div>
        <textarea name="comment" id="comment" required=true cols="120" ></textarea>
        <button type="submit" class="button">SUBMIT</button>
    </form>
    
</div>