<% if ( flash.length > 0  && flash!='[object Object]') { %>
	<div class="alert">
		<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
		<strong><%= flash %> </strong>
	  </div>
<% } %>
<div class="content" id="content">
    <form action="http://localhost:8000/login" method="POST">
        <div class="form-group">
            <label for="email">Email-ID</label>
        </div>
        <textarea name="email" id="email" required=true cols="120" ></textarea>
        <div class="form-group">
            <label for="password">Password</label>
        </div>
        <textarea name="password" id="password" required=true cols="120"></textarea>
        <button type="submit" class="button">SUBMIT</button>
    </form>
    <form action="http://localhost:8000/login/googleauth" method="GET">
        <button type="submit" class="button">GOOGLE LOG-IN</button>
    </form>
</div>
