
    <form action="http://localhost:8000/upload " method="POST" enctype="multipart/form-data">
        <div class="success">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
            <strong>Please upload supplementary data as pdf, images or videos. Max size allowed is 10MB and Max no. of file allowed is 5</strong>
        </div>
        <div class="form-group">
            <input type="file" name="profileImage" multiple/>
        </div>
        <button type="submit" class="button">SUBMIT</button>
    </form>
